gateway/target/*
gateway/.settings/*
gateway/.classpath
gateway/.project
Pay/target/*
Pay/.settings/*
Pay/.classpath
Pay/.project
Viewer/target/*
Viewer/.settings/*
Viewer/.classpath
Viewer/.project
WTS/target/*
WTS/.settings/*
WTS/.classpath
WTS/.project
WTB/target/*
WTB/.settings/*
WTB/.classpath
WTB/.project
