apiVersion: apps/v1
kind: Deployment
metadata:
  name: Viewer
  labels:
    app: Viewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: Viewer
  template:
    metadata:
      labels:
        app: Viewer
    spec:
      containers:
        - name: Viewer
          image: skcchhson.azurecr.io/Viewer:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5